<html>
    <head>
        <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>School</title>
    </head>
    <body>
    <div class='container'>
        <p>School</p>
        <a href="/teachers">List all Teachers</a>
        <br>
        <a href='/students'>List all Students</a>
    </div>
    </body>
</html>
