<!DOCTYPE html>
<html>
    <head>
        <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Students</title>
    </head>
    <body>
        <div class='container'>
            <h1>Current Teachers:</h1>
            <hr>
            <ul>
                {% for teacher in teachers %}
                    <li><a href='/teacher/{{teacher.getId}}'>{{ teacher.getName }}</a></li>
                {% endfor %}
            </ul>
            <hr>
            <h4>Add a new teacher:</h4>
            <form action='/teachers' method='post'>
                <input type='text' name='teacher_name' placeholder='Teacher Name' />
                <input type='text' name='subject' placeholder='Teacher Subject' />
                <button type='submit'>Submit New Teacher</button>
            </form>
        </div>
    </body>
</html>
